global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "email_ingestion_metrics"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "email_ingestion_health"
    metrics_path: /health
    static_configs:
      - targets: ["localhost:8080"]
